src/main/mule/project_two.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="project_two-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="project_two-config" api="resource::aff82667-997a-4c92-b120-8326aa8f7b96:project_two:1.0.1:raml:zip:project_two.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="16069088" doc:name="API Autodiscovery" doc:id="e185a25d-b6c7-4055-a6ab-2733d2f1cc2e" flowRef="project_two-main" />
	<flow name="project_two-main">
        <http:listener config-ref="project_two-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="project_two-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="project_two-console">
        <http:listener config-ref="project_two-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="project_two-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\updatebooks\(bookId):application\json:project_two-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="bookId">attributes.uriParams.'bookId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Book: [
    {
      author: "Chinua Achebe",
      country: "Nigeria",
      imageLink: "images/things-fall-apart.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Things_Fall_Apart\n",
      pages: 209,
      title: "Things Fall Apart",
      year: 1958
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\deletebooks\(bookId):project_two-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="bookId">attributes.uriParams.'bookId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Book has been successfully removed."]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\getbooks:project_two-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Books: [
    {
      author: "Chinua Achebe",
      country: "Nigeria",
      imageLink: "images/things-fall-apart.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Things_Fall_Apart\n",
      pages: 209,
      title: "Things Fall Apart",
      year: 1958
    }, 
    {
      author: "Hans Christian Andersen",
      country: "Denmark",
      imageLink: "images/fairy-tales.jpg",
      language: "Danish",
      link: "https://en.wikipedia.org/wiki/Fairy_Tales_Told_for_Children._First_Collection.\n",
      pages: 784,
      title: "Fairy tales",
      year: 1836
    }, 
    {
      author: "Dante Alighieri",
      country: "Italy",
      imageLink: "images/the-divine-comedy.jpg",
      language: "Italian",
      link: "https://en.wikipedia.org/wiki/Divine_Comedy\n",
      pages: 928,
      title: "The Divine Comedy",
      year: 1315
    }, 
    {
      author: "Unknown",
      country: "Sumer and Akkadian Empire",
      imageLink: "images/the-epic-of-gilgamesh.jpg",
      language: "Akkadian",
      link: "https://en.wikipedia.org/wiki/Epic_of_Gilgamesh\n",
      pages: 160,
      title: "The Epic Of Gilgamesh",
      year: -1700
    }, 
    {
      author: "Unknown",
      country: "Achaemenid Empire",
      imageLink: "images/the-book-of-job.jpg",
      language: "Hebrew",
      link: "https://en.wikipedia.org/wiki/Book_of_Job\n",
      pages: 176,
      title: "The Book Of Job",
      year: -600
    }, 
    {
      author: "Unknown",
      country: "India/Iran/Iraq/Egypt/Tajikistan",
      imageLink: "images/one-thousand-and-one-nights.jpg",
      language: "Arabic",
      link: "https://en.wikipedia.org/wiki/One_Thousand_and_One_Nights\n",
      pages: 288,
      title: "One Thousand and One Nights",
      year: 1200
    }, 
    {
      author: "Unknown",
      country: "Iceland",
      imageLink: "images/njals-saga.jpg",
      language: "Old Norse",
      link: "https://en.wikipedia.org/wiki/Nj%C3%A1ls_saga\n",
      pages: 384,
      title: "Njál's Saga",
      year: 1350
    }, 
    {
      author: "Jane Austen",
      country: "United Kingdom",
      imageLink: "images/pride-and-prejudice.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Pride_and_Prejudice\n",
      pages: 226,
      title: "Pride and Prejudice",
      year: 1813
    }, 
    {
      author: "Honoré de Balzac",
      country: "France",
      imageLink: "images/le-pere-goriot.jpg",
      language: "French",
      link: "https://en.wikipedia.org/wiki/Le_P%C3%A8re_Goriot\n",
      pages: 443,
      title: "Le Père Goriot",
      year: 1835
    }, 
    {
      author: "Samuel Beckett",
      country: "Republic of Ireland",
      imageLink: "images/molloy-malone-dies-the-unnamable.jpg",
      language: "French, English",
      link: "https://en.wikipedia.org/wiki/Molloy_(novel)\n",
      pages: 256,
      title: "Molloy, Malone Dies, The Unnamable, the trilogy",
      year: 1952
    }, 
    {
      author: "Giovanni Boccaccio",
      country: "Italy",
      imageLink: "images/the-decameron.jpg",
      language: "Italian",
      link: "https://en.wikipedia.org/wiki/The_Decameron\n",
      pages: 1024,
      title: "The Decameron",
      year: 1351
    }, 
    {
      author: "Jorge Luis Borges",
      country: "Argentina",
      imageLink: "images/ficciones.jpg",
      language: "Spanish",
      link: "https://en.wikipedia.org/wiki/Ficciones\n",
      pages: 224,
      title: "Ficciones",
      year: 1965
    }, 
    {
      author: "Emily Brontë",
      country: "United Kingdom",
      imageLink: "images/wuthering-heights.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Wuthering_Heights\n",
      pages: 342,
      title: "Wuthering Heights",
      year: 1847
    }, 
    {
      author: "Albert Camus",
      country: "Algeria, French Empire",
      imageLink: "images/l-etranger.jpg",
      language: "French",
      link: "https://en.wikipedia.org/wiki/The_Stranger_(novel)\n",
      pages: 185,
      title: "The Stranger",
      year: 1942
    }, 
    {
      author: "Paul Celan",
      country: "Romania, France",
      imageLink: "images/poems-paul-celan.jpg",
      language: "German",
      link: "\n",
      pages: 320,
      title: "Poems",
      year: 1952
    }, 
    {
      author: "Louis-Ferdinand Céline",
      country: "France",
      imageLink: "images/voyage-au-bout-de-la-nuit.jpg",
      language: "French",
      link: "https://en.wikipedia.org/wiki/Journey_to_the_End_of_the_Night\n",
      pages: 505,
      title: "Journey to the End of the Night",
      year: 1932
    }, 
    {
      author: "Miguel de Cervantes",
      country: "Spain",
      imageLink: "images/don-quijote-de-la-mancha.jpg",
      language: "Spanish",
      link: "https://en.wikipedia.org/wiki/Don_Quixote\n",
      pages: 1056,
      title: "Don Quijote De La Mancha",
      year: 1610
    }, 
    {
      author: "Geoffrey Chaucer",
      country: "England",
      imageLink: "images/the-canterbury-tales.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/The_Canterbury_Tales\n",
      pages: 544,
      title: "The Canterbury Tales",
      year: 1450
    }, 
    {
      author: "Anton Chekhov",
      country: "Russia",
      imageLink: "images/stories-of-anton-chekhov.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/List_of_short_stories_by_Anton_Chekhov\n",
      pages: 194,
      title: "Stories",
      year: 1886
    }, 
    {
      author: "Joseph Conrad",
      country: "United Kingdom",
      imageLink: "images/nostromo.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Nostromo\n",
      pages: 320,
      title: "Nostromo",
      year: 1904
    }, 
    {
      author: "Charles Dickens",
      country: "United Kingdom",
      imageLink: "images/great-expectations.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Great_Expectations\n",
      pages: 194,
      title: "Great Expectations",
      year: 1861
    }, 
    {
      author: "Denis Diderot",
      country: "France",
      imageLink: "images/jacques-the-fatalist.jpg",
      language: "French",
      link: "https://en.wikipedia.org/wiki/Jacques_the_Fatalist\n",
      pages: 596,
      title: "Jacques the Fatalist",
      year: 1796
    }, 
    {
      author: "Alfred Döblin",
      country: "Germany",
      imageLink: "images/berlin-alexanderplatz.jpg",
      language: "German",
      link: "https://en.wikipedia.org/wiki/Berlin_Alexanderplatz\n",
      pages: 600,
      title: "Berlin Alexanderplatz",
      year: 1929
    }, 
    {
      author: "Fyodor Dostoevsky",
      country: "Russia",
      imageLink: "images/crime-and-punishment.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/Crime_and_Punishment\n",
      pages: 551,
      title: "Crime and Punishment",
      year: 1866
    }, 
    {
      author: "Fyodor Dostoevsky",
      country: "Russia",
      imageLink: "images/the-idiot.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/The_Idiot\n",
      pages: 656,
      title: "The Idiot",
      year: 1869
    }, 
    {
      author: "Fyodor Dostoevsky",
      country: "Russia",
      imageLink: "images/the-possessed.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/Demons_(Dostoyevsky_novel)\n",
      pages: 768,
      title: "The Possessed",
      year: 1872
    }, 
    {
      author: "Fyodor Dostoevsky",
      country: "Russia",
      imageLink: "images/the-brothers-karamazov.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/The_Brothers_Karamazov\n",
      pages: 824,
      title: "The Brothers Karamazov",
      year: 1880
    }, 
    {
      author: "George Eliot",
      country: "United Kingdom",
      imageLink: "images/middlemarch.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Middlemarch\n",
      pages: 800,
      title: "Middlemarch",
      year: 1871
    }, 
    {
      author: "Ralph Ellison",
      country: "United States",
      imageLink: "images/invisible-man.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Invisible_Man\n",
      pages: 581,
      title: "Invisible Man",
      year: 1952
    }, 
    {
      author: "Euripides",
      country: "Greece",
      imageLink: "images/medea.jpg",
      language: "Greek",
      link: "https://en.wikipedia.org/wiki/Medea_(play)\n",
      pages: 104,
      title: "Medea",
      year: -431
    }, 
    {
      author: "William Faulkner",
      country: "United States",
      imageLink: "images/absalom-absalom.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Absalom,_Absalom!\n",
      pages: 313,
      title: "Absalom, Absalom!",
      year: 1936
    }, 
    {
      author: "William Faulkner",
      country: "United States",
      imageLink: "images/the-sound-and-the-fury.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/The_Sound_and_the_Fury\n",
      pages: 326,
      title: "The Sound and the Fury",
      year: 1929
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\getbooks\(bookId):project_two-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="bookId">attributes.uriParams.'bookId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Book: [
    {
      author: "Chinua Achebe",
      country: "Nigeria",
      imageLink: "images/things-fall-apart.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Things_Fall_Apart\n",
      pages: 209,
      title: "Things Fall Apart",
      year: 1958
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\bookupload:project_two-config">
        <logger level="INFO" message="get:\bookupload:project_two-config" />
    </flow>
    <flow name="post:\addbooks:application\json:project_two-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Books: [
    {
      author: "Chinua Achebe",
      country: "Nigeria",
      imageLink: "images/things-fall-apart.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Things_Fall_Apart\n",
      pages: 209,
      title: "Things Fall Apart",
      year: 1958
    }, 
    {
      author: "Hans Christian Andersen",
      country: "Denmark",
      imageLink: "images/fairy-tales.jpg",
      language: "Danish",
      link: "https://en.wikipedia.org/wiki/Fairy_Tales_Told_for_Children._First_Collection.\n",
      pages: 784,
      title: "Fairy tales",
      year: 1836
    }, 
    {
      author: "Dante Alighieri",
      country: "Italy",
      imageLink: "images/the-divine-comedy.jpg",
      language: "Italian",
      link: "https://en.wikipedia.org/wiki/Divine_Comedy\n",
      pages: 928,
      title: "The Divine Comedy",
      year: 1315
    }, 
    {
      author: "Unknown",
      country: "Sumer and Akkadian Empire",
      imageLink: "images/the-epic-of-gilgamesh.jpg",
      language: "Akkadian",
      link: "https://en.wikipedia.org/wiki/Epic_of_Gilgamesh\n",
      pages: 160,
      title: "The Epic Of Gilgamesh",
      year: -1700
    }, 
    {
      author: "Unknown",
      country: "Achaemenid Empire",
      imageLink: "images/the-book-of-job.jpg",
      language: "Hebrew",
      link: "https://en.wikipedia.org/wiki/Book_of_Job\n",
      pages: 176,
      title: "The Book Of Job",
      year: -600
    }, 
    {
      author: "Unknown",
      country: "India/Iran/Iraq/Egypt/Tajikistan",
      imageLink: "images/one-thousand-and-one-nights.jpg",
      language: "Arabic",
      link: "https://en.wikipedia.org/wiki/One_Thousand_and_One_Nights\n",
      pages: 288,
      title: "One Thousand and One Nights",
      year: 1200
    }, 
    {
      author: "Unknown",
      country: "Iceland",
      imageLink: "images/njals-saga.jpg",
      language: "Old Norse",
      link: "https://en.wikipedia.org/wiki/Nj%C3%A1ls_saga\n",
      pages: 384,
      title: "Njál's Saga",
      year: 1350
    }, 
    {
      author: "Jane Austen",
      country: "United Kingdom",
      imageLink: "images/pride-and-prejudice.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Pride_and_Prejudice\n",
      pages: 226,
      title: "Pride and Prejudice",
      year: 1813
    }, 
    {
      author: "Honoré de Balzac",
      country: "France",
      imageLink: "images/le-pere-goriot.jpg",
      language: "French",
      link: "https://en.wikipedia.org/wiki/Le_P%C3%A8re_Goriot\n",
      pages: 443,
      title: "Le Père Goriot",
      year: 1835
    }, 
    {
      author: "Samuel Beckett",
      country: "Republic of Ireland",
      imageLink: "images/molloy-malone-dies-the-unnamable.jpg",
      language: "French, English",
      link: "https://en.wikipedia.org/wiki/Molloy_(novel)\n",
      pages: 256,
      title: "Molloy, Malone Dies, The Unnamable, the trilogy",
      year: 1952
    }, 
    {
      author: "Giovanni Boccaccio",
      country: "Italy",
      imageLink: "images/the-decameron.jpg",
      language: "Italian",
      link: "https://en.wikipedia.org/wiki/The_Decameron\n",
      pages: 1024,
      title: "The Decameron",
      year: 1351
    }, 
    {
      author: "Jorge Luis Borges",
      country: "Argentina",
      imageLink: "images/ficciones.jpg",
      language: "Spanish",
      link: "https://en.wikipedia.org/wiki/Ficciones\n",
      pages: 224,
      title: "Ficciones",
      year: 1965
    }, 
    {
      author: "Emily Brontë",
      country: "United Kingdom",
      imageLink: "images/wuthering-heights.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Wuthering_Heights\n",
      pages: 342,
      title: "Wuthering Heights",
      year: 1847
    }, 
    {
      author: "Albert Camus",
      country: "Algeria, French Empire",
      imageLink: "images/l-etranger.jpg",
      language: "French",
      link: "https://en.wikipedia.org/wiki/The_Stranger_(novel)\n",
      pages: 185,
      title: "The Stranger",
      year: 1942
    }, 
    {
      author: "Paul Celan",
      country: "Romania, France",
      imageLink: "images/poems-paul-celan.jpg",
      language: "German",
      link: "\n",
      pages: 320,
      title: "Poems",
      year: 1952
    }, 
    {
      author: "Louis-Ferdinand Céline",
      country: "France",
      imageLink: "images/voyage-au-bout-de-la-nuit.jpg",
      language: "French",
      link: "https://en.wikipedia.org/wiki/Journey_to_the_End_of_the_Night\n",
      pages: 505,
      title: "Journey to the End of the Night",
      year: 1932
    }, 
    {
      author: "Miguel de Cervantes",
      country: "Spain",
      imageLink: "images/don-quijote-de-la-mancha.jpg",
      language: "Spanish",
      link: "https://en.wikipedia.org/wiki/Don_Quixote\n",
      pages: 1056,
      title: "Don Quijote De La Mancha",
      year: 1610
    }, 
    {
      author: "Geoffrey Chaucer",
      country: "England",
      imageLink: "images/the-canterbury-tales.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/The_Canterbury_Tales\n",
      pages: 544,
      title: "The Canterbury Tales",
      year: 1450
    }, 
    {
      author: "Anton Chekhov",
      country: "Russia",
      imageLink: "images/stories-of-anton-chekhov.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/List_of_short_stories_by_Anton_Chekhov\n",
      pages: 194,
      title: "Stories",
      year: 1886
    }, 
    {
      author: "Joseph Conrad",
      country: "United Kingdom",
      imageLink: "images/nostromo.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Nostromo\n",
      pages: 320,
      title: "Nostromo",
      year: 1904
    }, 
    {
      author: "Charles Dickens",
      country: "United Kingdom",
      imageLink: "images/great-expectations.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Great_Expectations\n",
      pages: 194,
      title: "Great Expectations",
      year: 1861
    }, 
    {
      author: "Denis Diderot",
      country: "France",
      imageLink: "images/jacques-the-fatalist.jpg",
      language: "French",
      link: "https://en.wikipedia.org/wiki/Jacques_the_Fatalist\n",
      pages: 596,
      title: "Jacques the Fatalist",
      year: 1796
    }, 
    {
      author: "Alfred Döblin",
      country: "Germany",
      imageLink: "images/berlin-alexanderplatz.jpg",
      language: "German",
      link: "https://en.wikipedia.org/wiki/Berlin_Alexanderplatz\n",
      pages: 600,
      title: "Berlin Alexanderplatz",
      year: 1929
    }, 
    {
      author: "Fyodor Dostoevsky",
      country: "Russia",
      imageLink: "images/crime-and-punishment.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/Crime_and_Punishment\n",
      pages: 551,
      title: "Crime and Punishment",
      year: 1866
    }, 
    {
      author: "Fyodor Dostoevsky",
      country: "Russia",
      imageLink: "images/the-idiot.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/The_Idiot\n",
      pages: 656,
      title: "The Idiot",
      year: 1869
    }, 
    {
      author: "Fyodor Dostoevsky",
      country: "Russia",
      imageLink: "images/the-possessed.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/Demons_(Dostoyevsky_novel)\n",
      pages: 768,
      title: "The Possessed",
      year: 1872
    }, 
    {
      author: "Fyodor Dostoevsky",
      country: "Russia",
      imageLink: "images/the-brothers-karamazov.jpg",
      language: "Russian",
      link: "https://en.wikipedia.org/wiki/The_Brothers_Karamazov\n",
      pages: 824,
      title: "The Brothers Karamazov",
      year: 1880
    }, 
    {
      author: "George Eliot",
      country: "United Kingdom",
      imageLink: "images/middlemarch.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Middlemarch\n",
      pages: 800,
      title: "Middlemarch",
      year: 1871
    }, 
    {
      author: "Ralph Ellison",
      country: "United States",
      imageLink: "images/invisible-man.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Invisible_Man\n",
      pages: 581,
      title: "Invisible Man",
      year: 1952
    }, 
    {
      author: "Euripides",
      country: "Greece",
      imageLink: "images/medea.jpg",
      language: "Greek",
      link: "https://en.wikipedia.org/wiki/Medea_(play)\n",
      pages: 104,
      title: "Medea",
      year: -431
    }, 
    {
      author: "William Faulkner",
      country: "United States",
      imageLink: "images/absalom-absalom.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/Absalom,_Absalom!\n",
      pages: 313,
      title: "Absalom, Absalom!",
      year: 1936
    }, 
    {
      author: "William Faulkner",
      country: "United States",
      imageLink: "images/the-sound-and-the-fury.jpg",
      language: "English",
      link: "https://en.wikipedia.org/wiki/The_Sound_and_the_Fury\n",
      pages: 326,
      title: "The Sound and the Fury",
      year: 1929
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\bookupload:binary\octet-stream:project_two-config">
        <logger level="INFO" message="post:\bookupload:binary\octet-stream:project_two-config" />
    </flow>
    <flow name="post:\bookupload:multipart\form-data:project_two-config">
        <logger level="INFO" message="post:\bookupload:multipart\form-data:project_two-config" />
    </flow>
</mule>
